Package: com.p-x9.screenshotresizer
Name: ScreenShotResizer
Version: 0.0.1
Architecture: iphoneos-arm
Description: Tweak for customize quality of screenshot
Maintainer: p-x9
Author: p-x9
Section: Tweaks
Depends: ${ORION}, firmware (>= 12.2)
